:org.apache.felix.configadmin.revision:=L"1"
alias=""
baudRate=I"9600"
databits=I"8"
enabled=B"true"
id="modbus0"
invalidateElementsAfterReadErrors=I"1"
logVerbosity="NONE"
parity="NONE"
portName="/dev/ttyS1"
service.factoryPid="Bridge.Modbus.Serial"
service.pid="Bridge.Modbus.Serial.896cd8eb-1da2-495a-af0a-f0e764a8e10f"
stopbits="ONE"
