:org.apache.felix.configadmin.revision:=L"1"
alias=""
baudRate=I"9600"
databits=I"8"
enabled=B"true"
id="modbus1"
invalidateElementsAfterReadErrors=I"1"
logVerbosity="NONE"
parity="NONE"
portName="/dev/ttyS7"
service.factoryPid="Bridge.Modbus.Serial"
service.pid="Bridge.Modbus.Serial.91b6bdab-3307-4b03-a1cf-4fb355cfe09d"
stopbits="ONE"
