:org.apache.felix.configadmin.revision:=L"1"
alias=""
cellCapacityAh=I"100"
cellCutoffVoltage=D"4611010478483282330"
cellFloatVoltage=D"4612361558371493478"
enabled=B"true"
id="ctrlBmsHuasuBulk1"
modbusId="modbus1"
numberOfCells=I"5"
service.factoryPid="Controller.BmsHuasuTc.BulkCreator"
service.pid="Controller.BmsHuasuTc.BulkCreator.782208ed-cff3-4796-a2e4-622393b4aeb0"
startUnitId=I"1"
stringId="2"
