:org.apache.felix.configadmin.revision:=L"1"
alias=""
cellCapacityAh=I"100"
cellCutoffVoltage=D"4611010478483282330"
cellFloatVoltage=D"4612361558371493478"
enabled=B"true"
id="ctrlBmsHuasuBulk0"
modbusId="modbus0"
numberOfCells=I"5"
service.factoryPid="Controller.BmsHuasuTc.BulkCreator"
service.pid="Controller.BmsHuasuTc.BulkCreator.fdfd9f48-bc3c-4bb9-a7d7-351c1ca39a29"
startUnitId=I"1"
stringId="1"
