:org.apache.felix.configadmin.revision:=L"2"
Modbus.target="(&(enabled\=true)(!(service.pid\=BMS.Huasu.TA.53e5a5d8-29cc-4be3-b73d-e48cea4ba497))(|(id\=modbus1)))"
alias="BMS\ Huasu\ TA\ -str2-cell3"
enabled=B"true"
id="bmsHuasuTa-str2-cell3"
modbusId="modbus1"
modbusUnitId=I"3"
service.bundleLocation="?"
service.factoryPid="BMS.Huasu.TA"
service.pid="BMS.Huasu.TA.53e5a5d8-29cc-4be3-b73d-e48cea4ba497"
