:org.apache.felix.configadmin.revision:=L"2"
Modbus.target="(&(enabled\=true)(!(service.pid\=BMS.Huasu.TA.5d1b66f3-e85b-47e9-9e10-448170ae93d3))(|(id\=modbus0)))"
alias="BMS\ Huasu\ TA\ -str1-cell5"
enabled=B"true"
id="bmsHuasuTa-str1-cell5"
modbusId="modbus0"
modbusUnitId=I"5"
service.bundleLocation="?"
service.factoryPid="BMS.Huasu.TA"
service.pid="BMS.Huasu.TA.5d1b66f3-e85b-47e9-9e10-448170ae93d3"
