:org.apache.felix.configadmin.revision:=L"2"
Modbus.target="(&(enabled\=true)(!(service.pid\=BMS.Huasu.TA.6012769e-03ed-415c-96de-7212f20dad11))(|(id\=modbus1)))"
alias="BMS\ Huasu\ TA\ -str2-cell5"
enabled=B"true"
id="bmsHuasuTa-str2-cell5"
modbusId="modbus1"
modbusUnitId=I"5"
service.bundleLocation="?"
service.factoryPid="BMS.Huasu.TA"
service.pid="BMS.Huasu.TA.6012769e-03ed-415c-96de-7212f20dad11"
