:org.apache.felix.configadmin.revision:=L"2"
Modbus.target="(&(enabled\=true)(!(service.pid\=BMS.Huasu.TA.6274486c-dbda-45c1-829a-36134c6d00f9))(|(id\=modbus1)))"
alias="BMS\ Huasu\ TA\ -str2-cell1"
enabled=B"true"
id="bmsHuasuTa-str2-cell1"
modbusId="modbus1"
modbusUnitId=I"1"
service.bundleLocation="?"
service.factoryPid="BMS.Huasu.TA"
service.pid="BMS.Huasu.TA.6274486c-dbda-45c1-829a-36134c6d00f9"
