:org.apache.felix.configadmin.revision:=L"2"
Modbus.target="(&(enabled\=true)(!(service.pid\=BMS.Huasu.TA.87b6278c-9744-49fa-bd81-3af0bf092f1f))(|(id\=modbus0)))"
alias="BMS\ Huasu\ TA\ -str1-cell1"
enabled=B"true"
id="bmsHuasuTa-str1-cell1"
modbusId="modbus0"
modbusUnitId=I"1"
service.bundleLocation="?"
service.factoryPid="BMS.Huasu.TA"
service.pid="BMS.Huasu.TA.87b6278c-9744-49fa-bd81-3af0bf092f1f"
