:org.apache.felix.configadmin.revision:=L"8"
_lastChangeAt="2026-04-21T15:16:30"
_lastChangeBy="UNDEFINED"
alias="Core.Meta"
currency="EUR"
gridConnectionPointFuseLimit="32"
gridFeedInLimitationType="NO_LIMITATION"
id="_meta"
isEssChargeFromGridAllowed=B"false"
latitude="-999.0"
longitude="-999.0"
maximumGridFeedInLimit="0"
placeName=""
postcode=""
service.bundleLocation="?"
service.pid="Core.Meta"
subdivisionCode="UNDEFINED"
thirdPartyUsageAcceptance="UNDECIDED"
timezone=""
